@import 'styles/variables'; 

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.apartment {
  color: #a72da3;
}

.condo {
  color: #d68000;
}

.house {
  color: #bf1818;
}

.btn-bwm {
  background-color: $main-color !important;
  border-color: $main-color !important;
  color: white !important;
  padding: 5px 10px !important;
  font-size: 20px !important;

  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}
